
body{
    width: 100%;
    height: 100%;
    background: #333;
    color: #fff;
    font-family: sans-serif;
    border-radius: 50%;
    overflow: hidden;

}

body span {
    display: flex;
    gap: 2rem;
    align-items: center;
}